
.main {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    padding:2rem;
    padding-bottom:1rem;
    width: 20rem;
    border-radius: 1rem;
    border:1px solid var(--secondary-color);
    background-color: white;
}

.formContainer h2 {
    margin-bottom:1rem;
    color: var(--secondary-color)
}

.formContainer form {
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.formContainer input {
    min-height: 2rem;
    transition:0.25s;
    padding:0.25rem;
    border-radius:0.5rem;
    background-color: white;
    border:1px solid black
}

.formContainer input:focus {
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    outline:none
}

.formContainer input[type='submit'] {
    font-size:1rem;
    height:4rem
}

.formContainer input[type='submit']:hover {
    background-color: var(--primary-color);
    cursor:pointer
}

.error {
    color:red
}

.link {
    color: var(--secondary-color);
    transition:0.5s;
    padding:0.25rem
}

.link:hover {
    background-color: var(--primary-color);
}